replicaCount: 1

image:
  registry: docker.openraven.io
  repository: open/aws-discovery
  tag: ~
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

extraEnv: []
# - name: foo
#   value: bar
sentry_dsn: ""

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: chart-example.local
      paths: []

  tls: []

resources:
  limits:
    memory: 1Gi
    cpu: "1"
  requests:
    memory: 1Gi
    cpu: 500m

nodeSelector: {}

tolerations: []

affinity: {}
