apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "openraven-admin.fullname" . }}
  labels:
{{ include "openraven-admin.labels" . | indent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  {{ if eq .Values.global.clusterType "saas" }}
  - apiGroup: rbac.authorization.k8s.io
    kind: Group
    name: "okta:SaaS - Admins"
  {{ else }}
  - apiGroup: rbac.authorization.k8s.io
    kind: Group
    name: okta:/customers/{{ .Values.group_name }}/{{.Values.group_name}}-admins
  - apiGroup: rbac.authorization.k8s.io
    kind: Group
    name: okta:/customers/{{ .Values.group_name }}/{{.Values.group_name}}-owners
  {{ end }}
