apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "openraven-admin.fullname" . }}
  labels:
{{ include "openraven-admin.labels" . | indent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  {{ if eq .Values.global.clusterType "saas" }}
  - apiGroup: rbac.authorization.k8s.io
    kind: Group
    name: "okta:SaaS - Admins"
  {{ if not (has .Values.global.deploy_channel .Values.customer_facing_channels)}}
  # See this article for more info
  # https://openraven.atlassian.net/wiki/spaces/OPS/pages/831389726/0001+-+Customer+Facing+Deploy+Channels
  - apiGroup: rbac.authorization.k8s.io
    kind: Group
    name: "okta:Engineering"
  {{ end }}
  {{ else }}
  - apiGroup: rbac.authorization.k8s.io
    kind: Group
    name: okta:/customers/{{ .Values.group_name }}/{{.Values.group_name}}-admins
  - apiGroup: rbac.authorization.k8s.io
    kind: Group
    name: okta:/customers/{{ .Values.group_name }}/{{.Values.group_name}}-owners
  {{ end }}
