stages:
- build
- test
- deploy
- chatops

include:
- project: open/gitlab-ci
  file: /chatops-shell.yml

# variables:
#   HELM_S3_BUCKET: openraven-deploy-REPLACE_ME_WITH_YOUR_OWN

.force_onto_aws_runners: &force_onto_aws_runners
  # force it onto the AWS runners
  tags:
  - docker

.only_with_helm_s3_bucket_set: &force_helm_s3_bucket
  only:
    variables:
    - $HELM_S3_BUCKET

.dont_run_on_external_pipelines: &dont_run_on_external_pipelines
  except:
    - pipelines

package-helm-charts:
  <<: *force_onto_aws_runners
  <<: *dont_run_on_external_pipelines
  stage: build
  image: &img docker.openraven.io/openraven/ci/helmfile-awscli:2588
  artifacts:
    name: helm artifacts
    expire_in: 30 days
    paths:
    - charts/*.tgz
  script:
  - &package_charts_sh .gitlab/package_helm_charts.sh

template-the-charts:
  <<: *dont_run_on_external_pipelines
  dependencies:
  - package-helm-charts
  stage: test
  image: *img
  script:
  - cd charts
  - helm repo index .
  - cd $CI_PROJECT_DIR
  - .gitlab/helmfile_template.sh
  - echo 'cleaning up test-only index.yaml'
  - rm charts/index.yaml

.publish-helm-charts: &publish_helm_charts
  <<: *force_onto_aws_runners
  <<: *dont_run_on_external_pipelines
  dependencies:
  - package-helm-charts
  image: *img
  script:
  - &publish_charts_sh .gitlab/publish_helm_charts.sh

.publish-helmfile-to-s3: &publish_helmfile_to_s3
  <<: *force_onto_aws_runners
  <<: *dont_run_on_external_pipelines
  dependencies: []
  image: *img
  script:
  - &publish_helmfile .gitlab/patch_and_copy_to_s3.sh

publish-helm-charts:
  <<: *force_helm_s3_bucket
  <<: *publish_helm_charts
  <<: *dont_run_on_external_pipelines
  stage: deploy
  except:
    refs:
      - master

publish-helmfile-to-s3:
  <<: *force_helm_s3_bucket
  <<: *publish_helmfile_to_s3
  <<: *dont_run_on_external_pipelines
  stage: deploy
  except:
    refs:
      - master

publish-helm-charts-staging:
  <<: *force_helm_s3_bucket
  <<: *publish_helm_charts
  <<: *dont_run_on_external_pipelines
  stage: deploy
  variables:
    HELM_S3_BUCKET: openraven-deploy-staging
  only:
    refs:
      - master
  resource_group: staging

publish-helmfile-to-s3-staging:
  <<: *force_helm_s3_bucket
  <<: *publish_helmfile_to_s3
  <<: *dont_run_on_external_pipelines
  stage: deploy
  variables:
    HELM_S3_BUCKET: openraven-deploy-staging
  only:
    refs:
      - master
  resource_group: staging

bump-from-external-pipeline:
  stage: build
  image: *img
  script:
    - .gitlab/bump_chart_version.sh ${HELMFILE_NAME} ${CHART_NAME} 0.${UPSTREAM_TAG}.0
  rules:
    - if: '$CI_PIPELINE_SOURCE == "pipeline" && $HELMFILE_NAME && $CHART_NAME && $UPSTREAM_TAG'
      when: always
    - when: never
  resource_group: upstream

publish-em:
  <<: *force_onto_aws_runners
  stage: chatops
  image: *img
  extends: .chatops-shell-functions
  only: [chat]
  script:
  - require_chat_input
  - export HELM_S3_BUCKET="$CHAT_INPUT"
  - *package_charts_sh
  - *publish_charts_sh
  - *publish_helmfile
  - chat_start; echo Deployed charts and helmfile.yaml to $HELM_S3_BUCKET; chat_stop

bump-chart:
  stage: chatops
  image: *img
  extends: .chatops-shell-functions
  only: [chat]
  script:
  - require_chat_input
  # if run from #eng-notifications, toggle it into trace mode
  - |
    if [[ "$CHAT_CHANNEL" == CL73VV3KK ]]; then
      export TRACE=1
      set -x
    fi
  - set -- $CHAT_INPUT
  - .gitlab/bump_chart_version.sh "$@"
  - chat_start; echo "Version bumped $CI_PROJECT_PATH with $@"; chat_stop
