stages:
- build
- test
- deploy
- pause
- validate
- chatops

include:
- project: openraven/open/gitlab-ci
  file: /chatops-shell.yml
- project: openraven/open/gitlab-ci
  file: /docker-dind.yml

# variables:
#   HELM_S3_BUCKET: openraven-deploy-REPLACE_ME_WITH_YOUR_OWN

.only_with_helm_s3_bucket_set: &force_helm_s3_bucket
  only:
    variables:
    - $HELM_S3_BUCKET

.dont_run_on_external_pipelines: &dont_run_on_external_pipelines
  except:
    - pipelines

package-helm-charts:
  <<: *dont_run_on_external_pipelines
  stage: build
  image: &img registry.gitlab.com/openraven/openraven/ci/helmfile-awscli:helm3-216157963
  artifacts:
    name: helm artifacts
    expire_in: 30 days
    paths:
    - charts/*.tgz
  script:
  - &package_charts_sh .gitlab/package_helm_charts.sh

template-the-charts:
  <<: *dont_run_on_external_pipelines
  dependencies:
  - package-helm-charts
  stage: test
  image: *img
  artifacts:
    paths:
      - manifest.json
  script:
  - cd charts
  - helm repo index .
  - cd $CI_PROJECT_DIR
  - .gitlab/helmfile_template.sh
  - echo 'cleaning up test-only index.yaml'
  - rm charts/index.yaml

.publish-helm-charts: &publish_helm_charts
  <<: *dont_run_on_external_pipelines
  dependencies:
  - package-helm-charts
  image: *img
  script:
  - &publish_charts_sh .gitlab/publish_helm_charts.sh
  cache:
    key: helmfiles-maven
    paths:
      # this appears to only cache things within the workspace
      - .m2/repository

.publish-helmfile-to-s3: &publish_helmfile_to_s3
  <<: *dont_run_on_external_pipelines
  dependencies:
    - template-the-charts
  image: *img
  script:
  - &publish_helmfile .gitlab/patch_and_copy_to_s3.sh

publish-helm-charts:
  <<: *force_helm_s3_bucket
  <<: *publish_helm_charts
  <<: *dont_run_on_external_pipelines
  stage: deploy
  except:
    refs:
      - master
  cache:
    key: helmfiles-maven
    paths:
      # this appears to only cache things within the workspace
      - .m2/repository

publish-helmfile-to-s3:
  <<: *force_helm_s3_bucket
  <<: *publish_helmfile_to_s3
  <<: *dont_run_on_external_pipelines
  stage: deploy
  except:
    refs:
      - master

publish-helm-charts-staging:
  <<: *force_helm_s3_bucket
  <<: *publish_helm_charts
  <<: *dont_run_on_external_pipelines
  stage: deploy
  variables:
    HELM_S3_BUCKET: openraven-deploy-staging
  only:
    refs:
      - master
  resource_group: staging
  cache:
    key: helmfiles-maven
    paths:
      # this appears to only cache things within the workspace
      - .m2/repository

publish-helmfile-to-s3-staging:
  <<: *force_helm_s3_bucket
  <<: *publish_helmfile_to_s3
  <<: *dont_run_on_external_pipelines
  stage: deploy
  variables:
    HELM_S3_BUCKET: openraven-deploy-staging
  only:
    refs:
      - master
  resource_group: staging

publish images for image scanning:
  <<: *dont_run_on_external_pipelines
  stage: deploy
  extends: .docker-dind
  # Allow failure until this pipeline stabilizes
  allow_failure: true
  dependencies:
    - template-the-charts
  # Running the install bits inline as it prevents needing to manage yet another image and these bits install fast
  script:
    - |
      rm -rf /var/cache/apk && mkdir /var/cache/apk
      apk add bash curl jq grep python3
      pip3 install --upgrade setuptools wheel
      pip3 install --upgrade pip
      pip3 install awscli
    - .gitlab/images_to_ecr.sh
  only:
    refs:
      - master

## Pause the pipeline to allow for cluster-upgrade to upgrade the cluster we are going to test.
## TODO: This should go away in favor of something that watches for the version of the cluster to match what is on the release channel.
#pause-for-update:
#  <<: *dont_run_on_external_pipelines
#  stage: pause
#  script:
#    - sleep 120 # Sleeping for 120 seconds because cluster-upgrade runs every 60 seconds, and we are assuming helmfile will finish in less than 60 seconds.
#  only:
#    refs:
#      - master

#validate-staging:
#  <<: *dont_run_on_external_pipelines
#  stage: validate
#  trigger:
#    project: openraven/openraven/odin-tests
#    strategy: depend
#  variables:
#    RELEASE_CHANNEL: openraven-deploy-staging
#    BASE_URL: 'https://staging.c.openraven.net'
#    DEMODB: 'true'
#   BUILD_ID: $CI_PIPELINE_ID
#  only:
#    refs:
#      - master

#validate-staging-discovery:
#  <<: *dont_run_on_external_pipelines
#  stage: validate
#  trigger:
#    project: openraven/openraven/odin-tests
#    strategy: depend
#  variables:
#    RELEASE_CHANNEL: openraven-deploy-staging
#    BASE_URL: 'https://staging-discovery.c.openraven.net'
#    BUILD_ID: $CI_PIPELINE_ID
#  only:
#    refs:
#      - master

bump-from-external-pipeline:
  stage: build
  image: *img
  script:
    - .gitlab/bump_chart_version.sh ${HELMFILE_NAME} ${CHART_NAME} 0.${UPSTREAM_TAG}.0
  rules:
    - if: '$CI_PIPELINE_SOURCE == "pipeline" && $HELMFILE_NAME && $CHART_NAME && $UPSTREAM_TAG'
      when: always
    - when: never
  resource_group: upstream

bump-jar-from-external-pipeline:
  stage: build
  image: *img
  script:
    - .gitlab/bump_jar_version.sh ${JAR_NAME} 0.0.${UPSTREAM_TAG}
  rules:
    - if: '$CI_PIPELINE_SOURCE == "pipeline" && $JAR_NAME && $UPSTREAM_TAG'
      when: always
    - when: never
  resource_group: upstream


manual-promote:
  stage: deploy
  image: *img
  rules:
    - if: '$CI_PIPELINE_SOURCE != "pipeline" && $SRC_BUCKET && $DEST_BUCKET'
      when: always
    - when: never
  script:
    - .gitlab/promote_in_s3.sh $SRC_BUCKET $DEST_BUCKET

publish-em:
  stage: chatops
  image: *img
  extends: .chatops-shell-functions
  only: [chat]
  script:
  - require_chat_input
  - export HELM_S3_BUCKET="$CHAT_INPUT"
  - *package_charts_sh
  - *publish_charts_sh
  - *publish_helmfile
  - chat_start; echo Deployed charts and helmfile.yaml to $HELM_S3_BUCKET; chat_stop

bump-chart:
  stage: chatops
  image: *img
  extends: .chatops-shell-functions
  only: [chat]
  script:
  - require_chat_input
  # if run from #eng-notifications, toggle it into trace mode
  - |
    if [[ "$CHAT_CHANNEL" == CL73VV3KK ]]; then
      export TRACE=1
      set -x
    fi
  - set -- $CHAT_INPUT
  - .gitlab/bump_chart_version.sh "$@"
  - chat_start; echo "Version bumped $CI_PROJECT_PATH with $@"; chat_stop

promote:
  stage: chatops
  image: *img
  extends: .chatops-shell-functions
  only: [chat]
  script:
    - require_chat_input
    - set -- $CHAT_INPUT
    - .gitlab/promote_in_s3.sh "$@"
