stages:
- build
- deploy
- chatops

include:
- project: open/gitlab-ci
  file: /chatops-shell.yml

# variables:
#   HELM_S3_BUCKET: openraven-deploy-REPLACE_ME_WITH_YOUR_OWN

.force_onto_aws_runners: &force_onto_aws_runners
  # force it onto the AWS runners
  tags:
  - docker

.only_with_helm_s3_bucket_set: &force_helm_s3_bucket
  only:
    variables:
    - $HELM_S3_BUCKET

package-helm-charts:
  <<: *force_helm_s3_bucket
  # while this strictly speaking isn't required
  # it'll help the caching story
  <<: *force_onto_aws_runners
  stage: build
  image: &img quay.io/roboll/helmfile:v0.98.2
  artifacts:
    name: helm artifacts
    expire_in: 30 days
    paths:
    - charts/*.tgz
  script:
  - .gitlab/package_helm_charts.sh

.publish-helm-charts: &publish_helm_charts
  <<: *force_onto_aws_runners
  dependencies:
  - package-helm-charts
  image: *img
  script:
  - &before_script |
    set -euo pipefail
    apk update
    apk add python3
    pip3 install awscli
  - &publish_chart_sh .gitlab/publish_helm_charts.sh

.publish-helmfile-to-s3: &publish_helmfile_to_s3
  <<: *force_onto_aws_runners
  dependencies: []
  image: *img
  script:
  - *before_script
  - &publish_helmfile .gitlab/patch_and_copy_to_s3.sh

publish-helm-charts:
  <<: *force_helm_s3_bucket
  <<: *publish_helm_charts
  stage: deploy

publish-helmfile-to-s3:
  <<: *force_helm_s3_bucket
  <<: *publish_helmfile_to_s3
  stage: deploy


publish-charts:
  <<: *publish_helm_charts
  stage: chatops
  extends: .chatops-shell-functions
  only: [chat]
  script:
  - require_chat_input
  - *before_script
  - export HELM_S3_BUCKET="$CHAT_INPUT"
  - chat_start
  - *publish_chart_sh
  - chat_stop

publish-helmfile:
  <<: *publish_helmfile_to_s3
  stage: chatops
  extends: .chatops-shell-functions
  only: [chat]
  script:
  - require_chat_input
  - *before_script
  - export HELM_S3_BUCKET="$CHAT_INPUT"
  - chat_start
  - *publish_helmfile
  - chat_stop
