stages:
- build
- test
- deploy
- chatops

include:
- project: open/gitlab-ci
  file: /chatops-shell.yml

# variables:
#   HELM_S3_BUCKET: openraven-deploy-REPLACE_ME_WITH_YOUR_OWN

.force_onto_aws_runners: &force_onto_aws_runners
  # force it onto the AWS runners
  tags:
  - docker

.only_with_helm_s3_bucket_set: &force_helm_s3_bucket
  only:
    variables:
    - $HELM_S3_BUCKET

package-helm-charts:
  <<: *force_onto_aws_runners
  stage: build
  image: &img quay.io/roboll/helmfile:v0.98.2
  artifacts:
    name: helm artifacts
    expire_in: 30 days
    paths:
    - charts/*.tgz
  script:
  - &package_charts_sh .gitlab/package_helm_charts.sh

template-the-charts:
  dependencies:
  - package-helm-charts
  stage: test
  image: *img
  script:
  - cd charts
  - helm repo index .
  - cd $CI_PROJECT_DIR
  - .gitlab/helmfile_template.sh
  - echo 'cleaning up test-only index.yaml'
  - rm charts/index.yaml

.publish-helm-charts: &publish_helm_charts
  <<: *force_onto_aws_runners
  dependencies:
  - package-helm-charts
  image: *img
  script:
  - &before_script |
    set -euo pipefail
    apk update
    apk add python3
    pip3 install awscli
  - &publish_charts_sh .gitlab/publish_helm_charts.sh

.publish-helmfile-to-s3: &publish_helmfile_to_s3
  <<: *force_onto_aws_runners
  dependencies: []
  image: *img
  script:
  - *before_script
  - &publish_helmfile .gitlab/patch_and_copy_to_s3.sh

publish-helm-charts:
  <<: *force_helm_s3_bucket
  <<: *publish_helm_charts
  stage: deploy

publish-helmfile-to-s3:
  <<: *force_helm_s3_bucket
  <<: *publish_helmfile_to_s3
  stage: deploy

publish-em:
  <<: *force_onto_aws_runners
  stage: chatops
  image: *img
  extends: .chatops-shell-functions
  only: [chat]
  script:
  - require_chat_input
  - *before_script
  - export HELM_S3_BUCKET="$CHAT_INPUT"
  - *package_charts_sh
  - *publish_charts_sh
  - *publish_helmfile
  - chat_start; echo Deployed charts and helmfile.yaml to $HELM_S3_BUCKET; chat_stop
