stages:
- build
- deploy
- chatops

include:
- project: open/gitlab-ci
  file: /chatops-shell.yml

# variables:
#   HELM_S3_BUCKET: openraven-deploy-REPLACE_ME_WITH_YOUR_OWN

.force_onto_aws_runners: &force_onto_aws_runners
  # force it onto the AWS runners
  tags:
  - docker

.only_with_helm_s3_bucket_set: &force_helm_s3_bucket
  only:
    variables:
    - $HELM_S3_BUCKET

package-helm-charts:
  # while this strictly speaking isn't required
  # it'll help the caching story
  <<: *force_onto_aws_runners
  stage: build
  image: &img quay.io/roboll/helmfile:v0.98.2
  artifacts:
    name: helm artifacts
    expire_in: 30 days
    paths:
    - charts/*.tgz
  script:
  - .gitlab/package_helm_charts.sh

publish-helm-charts:
  <<: *force_helm_s3_bucket
  <<: *force_onto_aws_runners
  dependencies:
  - package-helm-charts
  stage: deploy
  image: *img
  before_script: &before_script
  - |
    set -euo pipefail
    apk update
    apk add python3
    pip3 install awscli
  script:
  - .gitlab/publish_helm_charts.sh

.publish-helmfile-to-s3: &publish_helmfile
  <<: *force_onto_aws_runners
  dependencies: []
  image: *img
  before_script: *before_script
  script:
  - .gitlab/patch_and_copy_to_s3.sh

publish-helmfile-to-s3:
  <<: *publish_helmfile
  <<: *force_helm_s3_bucket
  stage: deploy

publish-helmfile:
  <<: *publish_helmfile
  stage: chatops
  extends:
  - .chatops-shell-functions
  script:
  - ${chat_start_fn}; ${chat_stop_fn}
  - chat_start; echo 'not yet, as it might only run on "master"'; chat_stop
  - exit 0
  - if [[ -z "${CHAT_INPUT:-}" ]]; then echo 'Not without an argument to "run"' >&2; exit 1; fi
  - set -- "$@" $CHAT_INPUT
  - |
    if [[ $# -eq 1 ]]; then
      export HELM_S3_BUCKET="$1"
    elif [[ $# -eq 2 ]]; then
      git checkout "$1"
      export HELM_S3_BUCKET="$2"
    fi
  - if [[ -z "${HELM_S3_BUCKET:-}" ]]; then chat_start; echo 'Not without HELM_S3_BUCKET' >&2; chat_stop; exit 1; fi
  only: [chat]
