apiVersion: v1
kind: Service
metadata:
  name: {{ include "arcade-analytics.fullname" . }}-headless
  labels:
{{ include "arcade-analytics.labels" . | indent 4 }}
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "arcade-analytics.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
