# Default values for cloudwatcher.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

global:
  groupId: ~

image:
  registry: registry.gitlab.com
  repository: openraven/open/cloudwatcher-repo-docker
  # Pulled from minor value in Chart.yaml version:
  tag: ~
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

sentry_dsn: https://de53a7acdf9d459184af52cd52af4521@o322024.ingest.sentry.io/2084588

serviceAccount:
  create: false

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false


resources:
  requests:
    memory: 1G
  limits:
    memory: 1G
java:
  vmArgs: -XX:+UseContainerSupport -XX:MaxRAMPercentage=90

nodeSelector: {}

tolerations: []

affinity: {}
