apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ include "mimir.fullname" . }}-snapshot-job
  labels:
{{ include "mimir.labels" . | indent 4 }}
spec:
  schedule: {{ .Values.schedules.snapshotjob | quote }}
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app.kubernetes.io/name: {{ include "mimir.name" . }}
            app.kubernetes.io/instance: {{ .Release.Name }}-snapshot-job
        spec:
          restartPolicy: OnFailure
          initContainers:
            - name: organization-job
              image: {{ .Values.curl_image }}
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              args:
                - "-v"
                - "-X"
                - POST
                - {{ include "mimir.baseUrl" . }}/organization_info
            - name: configservice-job
              image: {{ .Values.curl_image }}
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              args:
                - "-v"
                - "-X"
                - POST
                - {{ include "mimir.baseUrl" . }}/config_for_account
          containers:
            - name: snapshot-job
              image: {{ .Values.curl_image }}
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              args:
                - "-v"
                - "-X"
                - POST
                - {{ include "mimir.baseUrl" . }}/ingest_from_snapshot
              resources:
                {{- toYaml .Values.jobresources | nindent 16 }}
