apiVersion: batch/v1beta1
kind: CronJob
{{ $name := include "cluster-upgrade.name" . }}
metadata:
  name: {{ $name }}-tls-refresh
  labels:
{{ include "cluster-upgrade.labels" . | indent 4 }}
spec:
  schedule: {{ .Values.schedules.tlsRefresh | quote }}
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app.kubernetes.io/name: {{ $name }}
            app.kubernetes.io/instance: {{ .Release.Name }}
        spec:
          containers:
          - name: refresh
            image: "{{ template "cluster-upgrade.image" . }}"
            command:
            - bash
            - -exc
            - |
              out_fn=cluster-tls.json
              curl -fsSLo $out_fn $ASGARD_URL/api/account/activate/tls/$GROUP_ID
              python3 -c 'import codecs, json, sys
              with open(sys.argv[1]) as fh:
                  data = json.load(fh)
              crt_b64b = data["tlsCertificateB64"].encode("ascii")
              key_b64b = data["tlsPrivateKeyB64"].encode("ascii")
              tls_crt = codecs.decode(crt_b64b, "base64").decode("ascii")
              tls_key = codecs.decode(key_b64b, "base64").decode("ascii")
              with open("www-tls.crt", "w") as gh:
                  gh.write(tls_crt)
              with open("www-tls.key", "w") as gh:
                  gh.write(tls_key)
              ' $out_fn
              # we need the dry-run in order to use "replace" below
              kubectl -n $TLS_NAMESPACE create secret tls www-tls \
                  --cert=www-tls.crt --key=www-tls.key \
                  --dry-run -o json > www-tls.secret.json
              exec kubectl -n $TLS_NAMESPACE replace -f www-tls.secret.json
            env:
            - name: ASGARD_URL
              value: {{ .Values.global.asgardUrl | quote }}
            - name: GROUP_ID
              value: {{ .Values.global.groupId }}
            - name: TLS_NAMESPACE
              value: ui
            imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 8 }}
          {{- end }}
          restartPolicy: OnFailure
          serviceAccountName: {{ template "cluster-upgrade.serviceAccountName" . }}
