{{ if ne (.Values.global.clusterType | default "") "saas" }}
apiVersion: batch/v1beta1
kind: CronJob
{{ $name := include "cluster-upgrade.name" . }}
metadata:
  name: {{ $name }}-tls-refresh
  labels:
{{ include "cluster-upgrade.labels" . | indent 4 }}
spec:
  schedule: {{ .Values.schedules.tlsRefresh | quote }}
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app.kubernetes.io/name: {{ $name }}
            app.kubernetes.io/instance: {{ .Release.Name }}
        spec:
          containers:
          - name: refresh
            image: "{{ template "cluster-upgrade.image" . }}"
            command:
            - bash
            - -exc
            # language=sh
            - |
              out_fn=cluster-tls.json
              crt_fn=www-tls.crt
              key_fn=www-tls.key
              curl -fsSLo $out_fn $ASGARD_URL/api/account/activate/tls/$GROUP_ID
              # jq 1.5 does not have "|@base64d"
              jq -r .tlsCertificateB64 < $out_fn | base64 --decode > $crt_fn
              jq -r .tlsPrivateKeyB64  < $out_fn | base64 --decode > $key_fn
              # we need the dry-run in order to use "replace" below
              kubectl -n $TLS_NAMESPACE create secret tls www-tls \
                  --cert=${crt_fn} --key=${key_fn} \
                  --dry-run -o json > www-tls.secret.json
              exec kubectl -n $TLS_NAMESPACE replace -f www-tls.secret.json
            env:
            - name: ASGARD_URL
              value: {{ .Values.global.asgardUrl | quote }}
            - name: GROUP_ID
              value: {{ .Values.global.groupId }}
            - name: TLS_NAMESPACE
              value: ui
            imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 8 }}
          {{- end }}
          restartPolicy: OnFailure
          serviceAccountName: {{ template "cluster-upgrade.serviceAccountName" . }}
{{ end }}
