{{- if .Values.ingressauth.enabled -}}
{{- $fullName := include "dmap.fullname" . -}}
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
{{ include "dmap.labels" . | indent 4 }}
  {{- with .Values.ingressauth.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
{{- if .Values.ingressauth.tls }}
  tls:
  {{- range .Values.ingressauth.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
  {{- $openravenIngressHostname := .Values.global.openravenIngressHostname -}}
  {{- range .Values.ingressauth.hosts }}
    - host: {{ $openravenIngressHostname }}
      http:
        paths:
        {{- range .paths }}
          - path: {{ . }}
            backend:
              serviceName: {{ $fullName }}
              servicePort: http
        {{- end }}
  {{- end }}
{{- end }}
