apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  annotations:
    # We are setting this for two reasons...
    # 1. We are hitting the bug where it gets set to 0.0.0-UNKNOWN
    # 2. It allows us to upgrade controller versions for this resource by cheating
    # https://github.com/elastic/cloud-on-k8s/issues/3023
    common.k8s.elastic.co/controller-version: {{ .Values.controller_version }}
  name: {{ .Values.elasticsearch_service | quote }}
  labels:
{{ include "elasticsearch.labels" . | indent 4 }}
spec:
  version: 7.7.0
  nodeSets:
    # Using -002 since the name must be valid DNS. When increasing the disk size
    # rev the name of the nodeset.
    # https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-orchestration.html#k8s-orchestration-limitations
  - name: default-003
    count: 3
    volumeClaimTemplates:
    - metadata:
        name: elasticsearch-data
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 100Gi
        storageClassName: default-storage-class
    config:
      node.master: true
      node.data: true
      node.ingest: true
      node.store.allow_mmap: false
      xpack.security.authc:
        anonymous:
          username: anonymous
          roles: superuser
          authz_exception: false
  http:
    tls:
      selfSignedCertificate:
        disabled: true
