apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "aws-discovery-svc.fullname" . }}
  labels:
{{ include "aws-discovery-svc.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "aws-discovery-svc.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "aws-discovery-svc.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          {{ $vMap := $.Chart.Version | split "." }}
          image: "{{.Values.image.registry}}/{{ .Values.image.repository }}:{{ .Values.image.tag | default $vMap._1 }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: MANAGEMENT_SERVER_PORT
              value: "8080"
            - name: SERVER_PORT
              value: "80"
            - name: GREMLIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: root-password
                  name: {{ include "aws-discovery-svc.fullname" . }}-secret
            - name: OPENRAVEN_APP_V1_CLOUD-INGESTION_ANALYTICS_CLUSTERID
              value: {{ .Values.global.groupId }}
            - name: SENTRY_DSN
              value: https://bf2f2b3796f7452397dc8a65b6657400@sentry.io/1894813
        {{- if .Values.extraEnv }}
            {{- toYaml .Values.extraEnv | indent 12 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
